.bg-lightgreen {
    background-color: #d4edda !important;
}
.card-header {
    font-weight: bold;
}
.text-center {
    text-align: center;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-4 {
    margin-top: 1rem;
}
.mb-4 {
    margin-bottom: 1.5rem;
}
.card-1 {
    margin-right: 20px;
}
.card-2 {
    margin-left: 20px;
}