<div class="header">
    <div class="header-text">
    <h1>Live Your Vacation Like A King</h1>
     <h2>The Better Label Hotel : Making A New Defination of Luxury</h2> 
     <a routerLink="/newBooking" class="btn">Book Now</a>
    </div>
    
  </div>
  
  <div class="sponsor">
    <h4>Proud Partner of Taveta-Holili Border <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e3/Air_India_Logo.svg/290px-Air_India_Logo.svg.png" alt="" id="logo"/></h4>
  </div>
  
  <div class="main">
    <h3>Why You Should Stay With Us?</h3>
    <p>You’ll want for nothing at the Better Label Hotel, because you’ll be indulged with every attention. And the warm, personal atmosphere will make you feel at home immediately. </p>
    <div class="offer">
      <div class="offer-item">
      <h2>Luxury</h2>
      <p>The extensive collection of art from the Border-Kilimanjaro movement, which can be admired in both the rooms and the public areas, emphasises the unique character of the hotel.</p>
      </div>
      <div class="offer-item">
      <h2>Comfort</h2>
      <p>The Better Label Hotel is situated in prestigious Colonial Mkonge houses. The historical character of the building is reflected in the stylish hotel rooms, each of which is unique and luxuriously furnished and fitted with all modern conveniences.</p>
      </div>
      <div class="offer-item">
      <h2>Convenience</h2>
      <p>The Better Label Hotel is located in the heart of the lovely Taveta district. Mountains, restaurants and Lakes are all within walking distance. Yet the hotel is away from all the tourist commotion, in an ideal location along a very quiet part of Taveta. </p>
      </div>
    </div>
  </div>
<footer id="main-footer">
    <p>Hotel &copy; 2019, All Rights Reserved</p>
</footer>
