<div class="container">
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card text-white bg-primary">
                <div class="card-body d-flex align-items-center">
                    <i class="icon icon-search icon-white mr-3"></i>
                    <div>
                        <span>Total Customers</span>
                        <h2 class="font-bold">0</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card text-white bg-info">
                <div class="card-body d-flex align-items-center">
                    <i class="icon icon-search icon-white mr-3"></i>
                    <div>
                        <span>Total Rooms</span>
                        <h2 class="font-bold">0</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card text-white bg-warning">
                <div class="card-body d-flex align-items-center">
                    <i class="icon icon-search icon-white mr-3"></i>
                    <div>
                        <span>Reserved Rooms</span>
                        <h2 class="font-bold">0</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card text-white bg-danger">
                <div class="card-body d-flex align-items-center">
                    <i class="icon icon-search icon-white mr-3"></i>
                    <div>
                        <span>Open Rooms</span>
                        <h2 class="font-bold">0</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card text-white bg-secondary">
                <div class="card-body d-flex align-items-center">
                    <i class="icon icon-search icon-white mr-3"></i>
                    <div>
                        <span>Total Revenue</span>
                        <h2 class="font-bold">0.0</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row">
      <div class="col-md-3 mb-3" *ngFor="let card of data?.cards">
        <div class="card text-white" [ngClass]="card.bgClass">
          <div class="card-body d-flex align-items-center">
            <i class="icon icon-search icon-white mr-3"></i>
            <div>
              <span>{{ card.title }}</span>
              <h2 class="font-bold">{{ card.value }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  